{% extends 'base.html' %}
{% load static %}

{% block titulo %}Nosotros{% endblock titulo %}

{% block contenido %}
<div class="container my-5">
    <h1 class="text-center mb-5 display-4">Conoce a Nuestro Equipo</h1>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 g-4 justify-content-center">
      
        <div class="col">
            <div class="card h-100 nosotros-card shadow-sm">
                <div class="profile-img-container"> 
                    <img src="{% static 'img/adrian.jfif' %}" class="nosotros-img" alt="Foto de Miembro 1">
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title">Adrián Navarro</h5> 
                    <p class="card-text text-muted">Desarrollador Full Stack</p> 
                    <p class="card-text">
                      Soy Programador Full Stack y Analista de datos, soy de Barranqueras-Chaco,recibido de la UNNE en la carrera de Lic en Sistemas.No me pidan hacer Deploy los viernes,los viernes es de Cerveza.
                    </p>
                    <a href="{% static 'cv/cv_miembro1.pdf' %}" class="btn btn-primary btn-sm mt-2" download>
                        Descargar CV <i class="fas fa-download"></i>
                    </a>
                    <div class="social-icons mt-3">
                        <a href="https://www.linkedin.com/in/adrian-navarro-arg/" target="_blank" class="mx-2 text-decoration-none">
                            <i class="fab fa-linkedin fa-2x"></i>
                        </a>
                        <a href="https://www.instagram.com/adrinavarrolbdo/" target="_blank" class="mx-2 text-decoration-none">
                            <i class="fab fa-instagram fa-2x"></i>
                        </a>
                        <a href="https://wa.me/+543794921315" target="_blank" class="mx-2 text-decoration-none">
                            <i class="fab fa-whatsapp fa-2x"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

      
        <div class="col">
            <div class="card h-100 nosotros-card shadow-sm">
                <div class="profile-img-container"> 
                    <!-- tu imagen aca -->
                    <img src="{% static 'img/Gera.jpeg' %}" class="nosotros-img" alt="Foto de Miembro 2">
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title">Gerardo Vollmer</h5>
                    <p class="card-text text-muted">Soy tecnico informatico, actualmente me encuentro tabajando en mi propio negocio y cursando el INFORMATORIO CHACO, en el cual busco 
                        aprender mas y dedicarme a programacion. soy de Charata Chaco.
                    </p>
                    <p class="card-text">
                       
                    </p>
                    <!-- cv aca -->
                    <a href="{% static 'cv/geracv.pdf' %}" class="btn btn-primary btn-sm mt-2" download>
                        Descargar CV <i class="fas fa-download"></i>
                    </a>
                    <div class="social-icons mt-3">
                          <!-- link de linkedin -->
                        <a href="https://www.linkedin.com/in/gerardo-vollmer-bb4b67134/" target="_blank" class="mx-2 text-decoration-none">
                            <i class="fab fa-linkedin fa-2x"></i>
                        </a>
                        <!-- link de ig -->
                        <a href="https://www.instagram.com/vollmer.1/" target="_blank" class="mx-2 text-decoration-none"> 
                            <i class="fab fa-instagram fa-2x"></i>
                        </a>
                          <!-- link de wpp -->
                        <a href="https://wa.me/+543731508760" target="_blank" class="mx-2 text-decoration-none">
                            <i class="fab fa-whatsapp fa-2x"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        
        <div class="col">
            <div class="card h-100 nosotros-card shadow-sm">
                <div class="profile-img-container"> 
                    <img src="{% static 'img/Darien-img.jpg' %}" class="nosotros-img" alt="Foto de Miembro 3">
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title">Darién Sevchenko</h5>
                    <p class="card-text text-muted">Programador Full Stack</p>
                    <p class="card-text">
                      Soy de Charata-Chaco, Me especialicé en desarrollo de aplicaciones moviles en Coderhouse y ahora sigo aprendiendo en el Informatorio Del Chaco. Me gusta la programacion y la tecnologia, me gusta aprender cosas nuevas y mejorar mis habilidades.
                    </p>
                    <a href="{% static 'cv/dariencv.docx' %}" class="btn btn-primary btn-sm mt-2" download>
                        Descargar CV <i class="fas fa-download"></i>
                    </a>
                    <div class="social-icons mt-3">
                        <a href="https://www.linkedin.com/in/darien-sevchenko-4a578727a/" target="_blank" class="mx-2 text-decoration-none">
                            <i class="fab fa-linkedin fa-2x"></i>
                        </a>
                        <a href="https://www.instagram.com/darien_sevchenko/" target="_blank" class="mx-2 text-decoration-none">
                            <i class="fab fa-instagram fa-2x"></i>
                        </a>
                        <a href="https://wa.me/+543731655933" target="_blank" class="mx-2 text-decoration-none">
                            <i class="fab fa-whatsapp fa-2x"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

       
        <div class="col">
            <div class="card h-100 nosotros-card shadow-sm">
                <div class="profile-img-container"> 
                    <img src="{% static 'img/miembro4.jpg' %}" class="nosotros-img" alt="Foto de Miembro 4">
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title"></h5>
                    <p class="card-text text-muted"></p>
                    <p class="card-text">
                       
                    </p>
                    <a href="{% static 'cv/cv_miembro4.pdf' %}" class="btn btn-primary btn-sm mt-2" download>
                        Descargar CV <i class="fas fa-download"></i>
                    </a>
                    <div class="social-icons mt-3">
                        <a href="https://www.linkedin.com/in/nombre-del-miembro4/" target="_blank" class="mx-2 text-decoration-none">
                            <i class="fab fa-linkedin fa-2x"></i>
                        </a>
                        <a href="https://www.instagram.com/usuario_miembro4/" target="_blank" class="mx-2 text-decoration-none">
                            <i class="fab fa-instagram fa-2x"></i>
                        </a>
                        <a href="https://wa.me/XXXXXXXXXXX" target="_blank" class="mx-2 text-decoration-none">
                            <i class="fab fa-whatsapp fa-2x"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}